
<h2>Course packs & Text Books</h2>
<ul>
	<li><%= link_to "Buy", books_url%></li>
	<!-- <li><a href="<%= books_url%>">Buy</a></li> -->
	<li><%= link_to "Sell", new_book_url%></li>
	<!-- <li><a href="<%= new_book_url%>">Sell</a></li> -->
	</ul>

<h2>Events</h2>

<h2>Furniture</h2>

<h2>Sub-leasing Apartments</h2>

<h2>Others</h2>